<!DOCTYPE html>
<html>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="~/Home">NurseBid</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
					<div class="dropdown-menu">
					</div>
				</li>
				<li class="nav-item">
					<a role="button" class="nav-link" data-toggle="modal" data-target="#LoginRuutu">Kirjaudu sisään</a>
				</li>
				<li class="nav-item">
					<a role="button" class="nav-link" data-toggle="modal" data-target="#LoginRuutuYritys">Yritys Kirjaudu</a>
				</li>
				<li class="nav-item">
					<a role="button" class="nav-link" data-toggle="modal" data-target="#TarjousRuutu">Kirjaudu sisään</a>
				</li>
				@*<li class="nav-item">
						<a role="button" class="nav-link" data-toggle="modal" data-target="#LahihoitajaRuutu">LahihoitajaRuutu</a>
					</li>
					<li class="nav-item">
						<a role="button" class="nav-link" data-toggle="modal" data-target="#SairaanhoitajaRuutu">SairaanhoitajaRuutu</a>
					</li>
					<li class="nav-item">
						<a role="button" class="nav-link" data-toggle="modal" data-target="#LahihoitajaTilausRuutu">Yritys LahihoitajaRuutu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="~/Hoitajat">Hoitajat</a>
					</li>*@
			</ul>
			@*<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>*@
		</div>
	</nav>
</body>
</html>

