

@{ ViewBag.Title = "Index2"; }
@section scripts{
	<script type="text/javascript">
		$(window).on('load', function () {
			if (@ViewBag.EmailError == 1) {
				$('#SpostiSend').modal('show');
			}
		});
	</script>
}
@{ Html.RenderPartial("_SpostiModal"); }

<a href="~/Views/Yritys/_LahihoitajaTilaus.cshtml">AAAAAA</a>

<p>
	@Html.ActionLink("Create New", "Yritys/_LahihoitajaTilaus.cshtml")
</p>


